# Dogal Dil İsleme & Metin Madenciligi

## Temel String İslemleri

### Olusturma Biçimlendirme

In [1]:
isim="ayse"

In [2]:
3*isim

'ayseayseayse'

In [3]:
"ayse"+"ali"

'ayseali'

In [4]:
"A"+isim[1:]

'Ayse'

In [5]:
isimler=["ali","veli","ayse"]

In [6]:
for i in isimler:
    print("isim: ",i,sep="")

isim: ali
isim: veli
isim: ayse

In [7]:
for i in isimler:
    print("_",i[0:],sep="")

_ali
_veli
_ayse

In [8]:
print(*enumerate(isimler))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [9]:
for i in enumerate(isimler):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [10]:
for i in enumerate("isimler"):
    print(i)

(0, 'i')
(1, 's')
(2, 'i')
(3, 'm')
(4, 'l')
(5, 'e')
(6, 'r')

In [11]:
for i in enumerate(isimler,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

### Dizi içi Tip Sorgulamaları

In [12]:
"ayse".isalpha()# ayse alfabetik mi?

True

In [13]:
"ayse35".isalpha()# false olarak döner

False

In [14]:
"123".isnumeric()# string gibi gözüksede bu ifade numerictir

True

In [15]:
"ayse35".isalnum()# icerisinde alfabetik yada numeric anlamda deger var
# ise true döner

True

### Elemanlarına ve Eleman İndexlerine Erismek

In [16]:
isim="ayseilkay"

In [17]:
isim

'ayseilkay'

In [18]:
isim[0:2]

'ay'

In [19]:
isim.index("y")# y 1.indexte yer alır

1

In [20]:
isim.index("a")

0

### Baslangıc ve Bitis Karakterlerini Sorgulamak: startswith() & endswith()

In [21]:
isim="ayse ilkay"

In [22]:
isim.startswith("a")# true döner
isim.startswith("y")# false döner
isim.startswith("A")# python büyük kücük harf duyarlı oldugu icin false döner
isim.endswith("y")#true döner
isim.endswith("Y")# false döner

False

## count - eleman saydırma

In [23]:
isim.count("a")

2

## sorted- alfabetik sıralama yapmak

In [24]:
sorted("kalem")# alfabetik olarak sıralar

['a', 'e', 'k', 'l', 'm']

In [25]:
print(*sorted("kalem"),sep="")# tekrar tek bir string ifadeye cevirdik

aeklm

## karakterleri bölmek

In [26]:
isim="ayse ilkay"

In [27]:
isim.split()

['ayse', 'ilkay']

In [28]:
isim.split("a")# a ya göre bölme işlemi gerceklestirdik

['', 'yse ilk', 'y']

In [29]:
isim="ayse_ilkay"

In [30]:
isim.split("_")# _ ifadesine göre bölme işlemini gerceklestirdi

['ayse', 'ilkay']

## Büyük küçük harf işlemleri

In [31]:
isim="ayse ilkay"

In [32]:
isim.upper()

'AYSE ILKAY'

In [33]:
isim.lower()

'ayse ilkay'

In [34]:
isim.upper().lower()

'ayse ilkay'

In [35]:
isim_b=isim.upper()

In [36]:
isim_b.islower()

False

In [37]:
isim_b.isupper()

True

## capitalize() & title() & swapcase()

In [38]:
isim="ayse ilkay"

In [39]:
isim.capitalize()# ilk harfi büyültür

'Ayse ilkay'

In [40]:
isim.title()# ilk harfleri büyültür

'Ayse Ilkay'

In [41]:
isim="Ayse ilKaY"

In [42]:
isim.swapcase()# Kücük harfleri büyük büyük harfleri küçük yapar

'aYSE ILkAy'

## istenmeyen karakterleri kırpmak:strip(),lstrip(),rstrip()

In [43]:
isim=" hello "

In [44]:
isim.strip()# sagdan ve sldan bolsukları götürür

'hello'

In [45]:
isim="*hello*"

In [46]:
isim.strip("*")

'hello'

In [47]:
isim="lhellol"

In [48]:
isim.strip("l")

'hello'

In [49]:
isim="*hello*"

In [50]:
isim.lstrip("*")

'hello*'

In [51]:
isim.rstrip("*")

'*hello'

## join:bölünmüs yada zaten bölük olan ifadelerin birlesitirlmesi

In [52]:
isim="ayse ilkay"

In [53]:
ayrik=isim.split()

In [54]:
ayrik

['ayse', 'ilkay']

In [55]:
joiner=" "
joiner.join(ayrik)

'ayse ilkay'

In [56]:
joiner="*****"
joiner.join(ayrik)

'ayse*****ilkay'

## eleman degistirme:replace(),str.maketrans(),translate()

In [57]:
isim

'ayse ilkay'

In [58]:
isim.replace("a","i")# a yı i ile degistirdim

'iyse ilkiy'

In [59]:
isim.replace("ay","Se")

'Sese ilkSe'

In [60]:
ifade="Bu ifade içerisinde bağzı Türkçe karakterler vardır"

In [61]:
duzeltilecek_harflar="çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler="cCgGiIoOsSuU"

In [62]:
alfabe_duzeltme=str.maketrans(duzeltilecek_harflar,duzeltilmis_harfler)
ifade.translate(alfabe_duzeltme)

'Bu ifade icerisinde bagzi Turkce karakterler vardir'

## contains

In [63]:
import pandas as pd
isimler=["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v=pd.Series(isimler)

In [64]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [65]:
v.str.contains("al")

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [66]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [67]:
v.str.contains("al").sum()

2

In [68]:
v.str.contains("[aA]li").sum()# buyuk yada kucuk a ile baslayan
# ve sonrasında li harfi ile devam edenleri sayar

3

## Metin Madenciligi ve Dogal Dil İşleme Giriş

## Metin Ön İşleme

In [69]:
metin="""

A scandal in Bohemia! 01
The Red- headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the  Nble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Cooper Beeches"""
metin

"\n\nA scandal in Bohemia! 01\nThe Red- headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the  Nble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Cooper Beeches"

# string'i df/array/seriye cevirmek

In [70]:
metin.split()

['A',
 'scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-',
 'headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Nble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Cooper',
 'Beeches']

In [71]:
metin.split("\n")# boslukları ifade eden /n ifadesidir

['',
 '',
 'A scandal in Bohemia! 01',
 'The Red- headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the  Nble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Cooper Beeches']

In [72]:
v_metin=metin.split("\n")

In [73]:
v=pd.Series(v_metin)

In [74]:
v

0
1
2                  A scandal in Bohemia! 01
3                  The Red- headed League,2
4                    A Case, of Identity 33
5              The Boscombe Valley Mystery4
6                     The five Orange Pips1
7             The Man with? the Twisted Lip
8       The Adventure of the Blue Carbuncle
9        The Adventure of the Speckled Band
10    The Adventure of the Engineer's Thumb
11      The Adventure of the  Nble Bachelor
12       The Adventure of the Beryl Coronet
13      The Adventure of the Cooper Beeches
dtype: object

In [75]:
metin_vektoru=v[1:len(v)]# 0 .indeksten kurtulduk

In [76]:
metin_vektoru

1
2                  A scandal in Bohemia! 01
3                  The Red- headed League,2
4                    A Case, of Identity 33
5              The Boscombe Valley Mystery4
6                     The five Orange Pips1
7             The Man with? the Twisted Lip
8       The Adventure of the Blue Carbuncle
9        The Adventure of the Speckled Band
10    The Adventure of the Engineer's Thumb
11      The Adventure of the  Nble Bachelor
12       The Adventure of the Beryl Coronet
13      The Adventure of the Cooper Beeches
dtype: object

In [77]:
mdf=pd.DataFrame(metin_vektoru,columns=["hikayeler"])

In [78]:
mdf

                                hikayeler
1
2                A scandal in Bohemia! 01
3                The Red- headed League,2
4                  A Case, of Identity 33
5            The Boscombe Valley Mystery4
6                   The five Orange Pips1
7           The Man with? the Twisted Lip
8     The Adventure of the Blue Carbuncle
9      The Adventure of the Speckled Band
10  The Adventure of the Engineer's Thumb
11    The Adventure of the  Nble Bachelor
12     The Adventure of the Beryl Coronet
13    The Adventure of the Cooper Beeches

## Büyük- Kücük Harf Dönüsüm İslemleri

In [79]:
d_mdf=mdf.copy()

In [80]:
d_mdf

                                hikayeler
1
2                A scandal in Bohemia! 01
3                The Red- headed League,2
4                  A Case, of Identity 33
5            The Boscombe Valley Mystery4
6                   The five Orange Pips1
7           The Man with? the Twisted Lip
8     The Adventure of the Blue Carbuncle
9      The Adventure of the Speckled Band
10  The Adventure of the Engineer's Thumb
11    The Adventure of the  Nble Bachelor
12     The Adventure of the Beryl Coronet
13    The Adventure of the Cooper Beeches

In [81]:
list1=[1,2,3]
str1=" ".join(str(i) for i in list1)

In [82]:
str1

'1 2 3'

In [83]:
# apply ile degiskenleri gexip lambdada satır bazlı gezerek parcalayıp küçük harfae çevirecek
d_mdf["hikayeler"].apply(lambda x:" ".join(x.lower() for x in x.split()))

1
2                  a scandal in bohemia! 01
3                  the red- headed league,2
4                    a case, of identity 33
5              the boscombe valley mystery4
6                     the five orange pips1
7             the man with? the twisted lip
8       the adventure of the blue carbuncle
9        the adventure of the speckled band
10    the adventure of the engineer's thumb
11       the adventure of the nble bachelor
12       the adventure of the beryl coronet
13      the adventure of the cooper beeches
Name: hikayeler, dtype: object

In [84]:
d_mdf=d_mdf["hikayeler"].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [85]:
d_mdf

1
2                  a scandal in bohemia! 01
3                  the red- headed league,2
4                    a case, of identity 33
5              the boscombe valley mystery4
6                     the five orange pips1
7             the man with? the twisted lip
8       the adventure of the blue carbuncle
9        the adventure of the speckled band
10    the adventure of the engineer's thumb
11       the adventure of the nble bachelor
12       the adventure of the beryl coronet
13      the adventure of the cooper beeches
Name: hikayeler, dtype: object

## noktalama işaretlerinin silinmesi

In [86]:
d_mdf

1
2                  a scandal in bohemia! 01
3                  the red- headed league,2
4                    a case, of identity 33
5              the boscombe valley mystery4
6                     the five orange pips1
7             the man with? the twisted lip
8       the adventure of the blue carbuncle
9        the adventure of the speckled band
10    the adventure of the engineer's thumb
11       the adventure of the nble bachelor
12       the adventure of the beryl coronet
13      the adventure of the cooper beeches
Name: hikayeler, dtype: object

In [87]:
#d_mdf=pd.DataFrame(d_mdf,columns=["hikayeler"])

In [88]:
d_mdf=d_mdf.str.replace("[^\w\s]","")# noktalama isaretleri gitti

In [89]:
d_mdf

1
2                  a scandal in bohemia 01
3                   the red headed league2
4                    a case of identity 33
5             the boscombe valley mystery4
6                    the five orange pips1
7             the man with the twisted lip
8      the adventure of the blue carbuncle
9       the adventure of the speckled band
10    the adventure of the engineers thumb
11      the adventure of the nble bachelor
12      the adventure of the beryl coronet
13     the adventure of the cooper beeches
Name: hikayeler, dtype: object

## sayıların silinmesi

In [90]:
d_mdf=d_mdf.str.replace("\d","")
d_mdf

1
2                    a scandal in bohemia
3                    the red headed league
4                      a case of identity
5              the boscombe valley mystery
6                     the five orange pips
7             the man with the twisted lip
8      the adventure of the blue carbuncle
9       the adventure of the speckled band
10    the adventure of the engineers thumb
11      the adventure of the nble bachelor
12      the adventure of the beryl coronet
13     the adventure of the cooper beeches
Name: hikayeler, dtype: object

## stopwords lerin silinmesi

#### a ,the,with ifadeleri :stopwords 'lerdir.

In [91]:
d_mdf=pd.DataFrame(d_mdf,columns=["hikayeler"])

In [92]:
d_mdf

                               hikayeler
1
2                  a scandal in bohemia
3                  the red headed league
4                    a case of identity
5            the boscombe valley mystery
6                   the five orange pips
7           the man with the twisted lip
8    the adventure of the blue carbuncle
9     the adventure of the speckled band
10  the adventure of the engineers thumb
11    the adventure of the nble bachelor
12    the adventure of the beryl coronet
13   the adventure of the cooper beeches

In [93]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\aayse\appdata\local\continuum\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\users\aayse\appdata\local\continuum\anaconda3\lib\site-packages (from nltk) (1.12.0)

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\users\aayse\appdata\local\continuum\anaconda3\python.exe -m pip install --upgrade pip' command.

In [94]:
import nltk

In [95]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [96]:
from nltk.corpus import stopwords

In [97]:
sw=stopwords.words("english")

In [98]:
sw# dildeki sık kullanılan kelimeler

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [99]:
d_mdf=d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [100]:
d_mdf

1
2               scandal bohemia
3             red headed league
4                 case identity
5       boscombe valley mystery
6              five orange pips
7               man twisted lip
8      adventure blue carbuncle
9       adventure speckled band
10    adventure engineers thumb
11      adventure nble bachelor
12      adventure beryl coronet
13     adventure cooper beeches
Name: hikayeler, dtype: object

## az gecen kelimelerin silinmesi

In [101]:
d_mdf=pd.DataFrame(d_mdf,columns=["hikayeler"])
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure    6
engineers    1
cooper       1
five         1
twisted      1
boscombe     1
blue         1
man          1
speckled     1
headed       1
red          1
nble         1
beryl        1
scandal      1
bohemia      1
valley       1
band         1
identity     1
beeches      1
league       1
case         1
bachelor     1
carbuncle    1
orange       1
pips         1
lip          1
coronet      1
mystery      1
thumb        1
dtype: int64

In [102]:
# sondan 3 degere erismek isteyelim
sil=pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [103]:
sil# az frekansa sahip gözlemler oldugunu varsayalım

coronet    1
mystery    1
thumb      1
dtype: int64

In [104]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

1
2              scandal bohemia
3            red headed league
4                case identity
5              boscombe valley
6             five orange pips
7              man twisted lip
8     adventure blue carbuncle
9      adventure speckled band
10         adventure engineers
11     adventure nble bachelor
12             adventure beryl
13    adventure cooper beeches
Name: hikayeler, dtype: object

In [105]:
# tüm  metinerimiz içinde sil in içinde yer alan isimleri sildik

## Tokenization

In [106]:
# Cümleyi kelimelere ayırma 

nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [107]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\aayse\appdata\local\continuum\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\aayse\appdata\local\continuum\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in c:\users\aayse\appdata\local\continuum\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\users\aayse\appdata\local\continuum\anaconda3\python.exe -m pip install --upgrade pip' command.

In [108]:
import textblob

In [109]:
from textblob import TextBlob

In [110]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList([])

In [111]:

d_mdf["hikayeler"].apply(lambda x:TextBlob(x).words)

1                                []
2                [scandal, bohemia]
3             [red, headed, league]
4                  [case, identity]
5       [boscombe, valley, mystery]
6              [five, orange, pips]
7               [man, twisted, lip]
8      [adventure, blue, carbuncle]
9       [adventure, speckled, band]
10    [adventure, engineers, thumb]
11      [adventure, nble, bachelor]
12      [adventure, beryl, coronet]
13     [adventure, cooper, beeches]
Name: hikayeler, dtype: object

## stemming islemi

In [112]:
# kelimelerin sonundaki takıları ucurucaz

In [113]:
from nltk.stem import PorterStemmer

In [114]:
st=PorterStemmer()

In [115]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1
2            scandal bohemia
3             red head leagu
4                 case ident
5     boscomb valley mysteri
6             five orang pip
7              man twist lip
8     adventur blue carbuncl
9       adventur speckl band
10      adventur engin thumb
11    adventur nble bachelor
12    adventur beryl coronet
13     adventur cooper beech
Name: hikayeler, dtype: object

## Lemmatization

In [116]:
#sttemmingde bazı kökler korunmamaıs
# mesela adventure köktür ama stemming işlemi e yide silmiş ve adventur olarak bırakmıs

In [117]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [118]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1
2              scandal bohemia
3            red headed league
4                case identity
5      boscombe valley mystery
6              five orange pip
7              man twisted lip
8     adventure blue carbuncle
9      adventure speckled band
10    adventure engineer thumb
11     adventure nble bachelor
12     adventure beryl coronet
13      adventure cooper beech
Name: hikayeler, dtype: object

In [119]:
# burada görüldügü üzere kelimelerin kökleri korunmustur.
# adventure adventure olarak gelmiştir.

In [120]:
d_mdf["hikayeler"][0:5]

1
2            scandal bohemia
3          red headed league
4              case identity
5    boscombe valley mystery
Name: hikayeler, dtype: object

# NLP Uygulamaları

## N-Gram

In [121]:
a= """Bu örneğin anlaşılabilmesi için daha uzun bir metin üzerinden gösterilecek.N-gram'lar 
birlikte kullanılan kelimelerin kombinasyonlarını gösterir"""

In [122]:
TextBlob(a).ngrams(1)# n inin 1 oldugu durumdaki yapı

[WordList(['Bu']),
 WordList(['örneğin']),
 WordList(['anlaşılabilmesi']),
 WordList(['için']),
 WordList(['daha']),
 WordList(['uzun']),
 WordList(['bir']),
 WordList(['metin']),
 WordList(['üzerinden']),
 WordList(["gösterilecek.N-gram'lar"]),
 WordList(['birlikte']),
 WordList(['kullanılan']),
 WordList(['kelimelerin']),
 WordList(['kombinasyonlarını']),
 WordList(['gösterir'])]

In [123]:
TextBlob(a).ngrams(2)#

[WordList(['Bu', 'örneğin']),
 WordList(['örneğin', 'anlaşılabilmesi']),
 WordList(['anlaşılabilmesi', 'için']),
 WordList(['için', 'daha']),
 WordList(['daha', 'uzun']),
 WordList(['uzun', 'bir']),
 WordList(['bir', 'metin']),
 WordList(['metin', 'üzerinden']),
 WordList(['üzerinden', "gösterilecek.N-gram'lar"]),
 WordList(["gösterilecek.N-gram'lar", 'birlikte']),
 WordList(['birlikte', 'kullanılan']),
 WordList(['kullanılan', 'kelimelerin']),
 WordList(['kelimelerin', 'kombinasyonlarını']),
 WordList(['kombinasyonlarını', 'gösterir'])]

## Part of speech tagging (POS)

In [124]:
# metinde bulunan kelimelerin sıfat,zarf,isim olma durumlarını
#tespit etmek için kullanıyor

In [125]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [126]:
TextBlob(d_mdf["hikayeler"][2]).tags

[('scandal', 'NN'), ('bohemia', 'NN')]

In [127]:
# tüm satır ve kelimelere uygulayalım

In [128]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1                                                    []
2                        [(scandal, NN), (bohemia, NN)]
3              [(red, JJ), (headed, VBD), (league, NN)]
4                          [(case, NN), (identity, NN)]
5         [(boscombe, NN), (valley, NN), (mystery, NN)]
6               [(five, CD), (orange, NN), (pips, NNS)]
7                [(man, NN), (twisted, VBD), (lip, NN)]
8        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
9        [(adventure, NN), (speckled, VBD), (band, NN)]
10    [(adventure, NN), (engineers, NNS), (thumb, VBP)]
11        [(adventure, NN), (nble, JJ), (bachelor, NN)]
12        [(adventure, NN), (beryl, NN), (coronet, NN)]
13      [(adventure, NN), (cooper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (Shallow parsing)

In [129]:
# sıfat zart durumlaarını diagram ile göstermek istersek

In [130]:
pos=d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [131]:
cumle="R and Python are useful data science tools for the new or old data scientist who eager to do efficent data science task "

In [132]:
pos=TextBlob(cumle).tags

In [133]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientist', 'NN'),
 ('who', 'WP'),
 ('eager', 'VBZ'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [134]:
reg_exp="NP:{<DT>?<JJ>*<NN>}"
rp=nltk.RegexpParser(reg_exp)

In [135]:
sonuclar=rp.parse(pos)

In [136]:
sonuclar.draw()

## Named Entity Recognition

In [137]:
# kelimelerin ne oldugunu gibi tanımlamaları yapan bir yaklaşımdır

In [138]:
from nltk import word_tokenize,pos_tag,ne_chunk
nltk.download("maxent_ne_chunker")
nltk.download("words")

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [139]:
cumle="Hadley is creative people who work for R Studio AND he attented conference  at Newyork last year"

In [140]:
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf / Karakter Sayısı

In [141]:
o_df=d_mdf.copy()

In [142]:
# her bir isim için harfleri saydırdıgımızı düsünelim
d_mdf["hikayeler"]

1
2               scandal bohemia
3             red headed league
4                 case identity
5       boscombe valley mystery
6              five orange pips
7               man twisted lip
8      adventure blue carbuncle
9       adventure speckled band
10    adventure engineers thumb
11      adventure nble bachelor
12      adventure beryl coronet
13     adventure cooper beeches
Name: hikayeler, dtype: object

In [143]:
d_mdf["hikayeler"].str.len()# bosluklarda sayılıyor

1      0
2     15
3     17
4     13
5     23
6     16
7     15
8     24
9     23
10    25
11    23
12    23
13    24
Name: hikayeler, dtype: int64

In [144]:
o_df["harf_sayisi"]=o_df["hikayeler"].str.len()

In [145]:
o_df

                    hikayeler  harf_sayisi
1                                        0
2             scandal bohemia           15
3           red headed league           17
4               case identity           13
5     boscombe valley mystery           23
6            five orange pips           16
7             man twisted lip           15
8    adventure blue carbuncle           24
9     adventure speckled band           23
10  adventure engineers thumb           25
11    adventure nble bachelor           23
12    adventure beryl coronet           23
13   adventure cooper beeches           24

## Kelime sayısı

In [146]:
a="scandal in a bohemia"

In [147]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [148]:
len(a.split())# 4 adet kelime vardır

4

In [149]:
o_df.iloc[0:2,0:2]

         hikayeler  harf_sayisi
1                             0
2  scandal bohemia           15

In [150]:
o_df["kelime_sayisi"]=o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [151]:
o_df

                    hikayeler  harf_sayisi  kelime_sayisi
1                                        0              1
2             scandal bohemia           15              2
3           red headed league           17              3
4               case identity           13              2
5     boscombe valley mystery           23              3
6            five orange pips           16              3
7             man twisted lip           15              3
8    adventure blue carbuncle           24              3
9     adventure speckled band           23              3
10  adventure engineers thumb           25              3
11    adventure nble bachelor           23              3
12    adventure beryl coronet           23              3
13   adventure cooper beeches           24              3

## Özel Karakterleri Yakalamak & Saydırmak

In [152]:
#adventure kelimesinin kaç kere geçtiği durumu
o_df["özel_karakter_sayisi"]=o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

In [153]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,özel_karakter_sayisi
1,,0,1,0
2,scandal bohemia,15,2,0
3,red headed league,17,3,0
4,case identity,13,2,0
5,boscombe valley mystery,23,3,0
6,five orange pips,16,3,0
7,man twisted lip,15,3,0
8,adventure blue carbuncle,24,3,1
9,adventure speckled band,23,3,1
10,adventure engineers thumb,25,3,1
11,adventure nble bachelor,23,3,1
12,adventure beryl coronet,23,3,1
13,adventure cooper beeches,24,3,1

## Sayilari Yakalamak & Saydırmak

In [154]:
o_df["sayi_sayisi"]=mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [155]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,özel_karakter_sayisi,sayi_sayisi
1,,0,1,0,0
2,scandal bohemia,15,2,0,1
3,red headed league,17,3,0,0
4,case identity,13,2,0,1
5,boscombe valley mystery,23,3,0,0
6,five orange pips,16,3,0,0
7,man twisted lip,15,3,0,0
8,adventure blue carbuncle,24,3,1,0
9,adventure speckled band,23,3,1,0
10,adventure engineers thumb,25,3,1,0
11,adventure nble bachelor,23,3,1,0
12,adventure beryl coronet,23,3,1,0
13,adventure cooper beeches,24,3,1,0

# Metin Görsellestirme

In [1]:
import pandas as pd
data=pd.read_csv("train.tsv",sep="\t")

In [2]:
data.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
PhraseId      156060 non-null int64
SentenceId    156060 non-null int64
Phrase        156060 non-null object
Sentiment     156060 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [4]:
# buyuk - kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [5]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [6]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

In [7]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aayse\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [9]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [10]:
data['Phrase'].head(10)

0    series demonstrating adage good goose also goo...
1                series demonstrating adage good goose
2                                               series
3
4                                               series
5                       demonstrating adage good goose
6
7                       demonstrating adage good goose
8
9                       demonstrating adage good goose
Name: Phrase, dtype: object

## Terim Frekansı

In [11]:
tf1=(data["Phrase"]).apply(lambda x: 
                           pd.value_counts(x.split(" "))).sum(axis=0).reset_index()

MemoryError: Unable to allocate 108. KiB for an array with shape (13845,) and data type float64

In [ ]:
tf1.columns=["words","tf"]# kelimeler ve bu kelimelerin gecme frekansları

In [ ]:
tf1.head()

In [ ]:
tf1.info()

In [ ]:
tf1.unique()

# barplot

In [ ]:
a=tf1[tf1["tf"]>1000]# önemli olan kelimeleri görselelstiricez

In [ ]:
a.plot.bar(x="words",y="tf");

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud,STOPWORDS,ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text= data["Phrase"][0]

In [ ]:
wordcloud=WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud,interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud=WordCloud(max_font_size=50,
                   max_words=100,
                   background_color="white").generate(text)
plt.figure()
plt.imshow(wordcloud,interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
# bilgisayarımıza kaydetmek istersek
wordcloud.to_file("kelime_bulutu.png");

In [ ]:
# tum metin
text=" ".join(i for i in data.Phrase)

In [ ]:
wordcloud=WordCloud(max_font_size=50,
                   max_words=100,
                   background_color="white").generate(text)
plt.figure()
plt.imshow(wordcloud,interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud # buradan bakarak ayarlamaları kendi isteginize göre yapabilirsiniz

## Şablonlara Göre Word Cloud

In [ ]:
## belirli saplonlara göre wordcloud olusturmak istersek;

In [ ]:
vbo_mask=np.array(Image.open("VBO.jpg"))

In [ ]:
vbo_mask

In [ ]:
wc=wordcloud=WordCloud(max_words=1000,
                    mask=vbo_mask,
                    contour_width=3,
                    contour_color="firebrick"
                   background_color="white").generate(text)
plt.figure(figsize=[10,10])
wc.to_file("vbo.png")
plt.imshow(wc,interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
vbo_mask=np.array(Image.open("tr.png"))

In [ ]:
wc=wordcloud=WordCloud(max_words=1000,
                    mask=vbo_mask,
                    contour_width=3,
                    contour_color="firebrick"
                   background_color="white").generate(text)
plt.figure(figsize=[10,10])
wc.to_file("vbo.png")
plt.imshow(wc,interpolation="bilinear")
plt.axis("off")
plt.show()

## Uçtan Uca Metin Sınıflandırma Modeli 1

## Sentiment Analizi ve Sınıflandırma Modelleri

In [4]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

Using TensorFlow backend.

In [ ]:
import pandas as pd
data=pd.read_csv("train.csv",sep="\t")

In [ ]:
data["Sentiment"].replace(0, value = "negatif", inplace = True)
data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [ ]:
data["Sentiment"].replace(3, value = "pozitif", inplace = True)
data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [ ]:
#sentimenti 2 olanı dısarda bırakıcaz
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [ ]:
data.groupby("Sentiment").count()

In [ ]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

## Metin Ön İşleme Basamakları

In [ ]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

## Degisken Mühendisliği

* Count Vectors
* TF-IDF Vectors (words, characters, n-grams)
* Word Embeddings

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı)

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [ ]:
df.iloc[0]

In [ ]:
## Test -Train

In [ ]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [ ]:
train_y[0:5]

In [ ]:
encoder = preprocessing.LabelEncoder()

In [ ]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [ ]:
train_y[0:5]

In [ ]:
test_y[0:5]

### Count Vectors

In [ ]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

In [ ]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [ ]:
x_train_count.head()

In [ ]:
vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_count.toarray()

### TF-IDF

In [ ]:
#wordlevel

In [ ]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [ ]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_tf_idf_word.toarray()

In [ ]:
# ngram level tf-idf

In [ ]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [ ]:
# characters level tf-idf

In [ ]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Naive Bayes

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")# hata verir

In [ ]:
# dönüsüm yapmak gerekir
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)
#1 sınıfı pozitif sınıfdır
# 0 sınıfı negatif sınıftır